*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    height: 4rem;
}
.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.navlist{
   display: flex; 
   gap: 2.5rem;
}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    font-size: 1.2rem;
    letter-spacing: .08rem;
}
.navlist a:hover{
    background: #f6f4ff;
}
.navlist a.active{
    background:#675cff;
    color:white;

}
.hero{
    display: flex;
}
.hero .left{
    background-color: #7c573c;
    padding-left: 50px;
}
.hero .right{
    background-color: #7c573c;
}
.hero .hero_split{
    width:50%;
    min-height: 100vh;
    display: flex;
    align-items: center;

}
.left .content{
    color: white;
    font-size: 20px;
    letter-spacing: normal;
}
